{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block" id="ceneo-attributes-mapping-form">
                    {{ form(mappingForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% if app.request.locale == 'pl-PL' %}
   {% set js_translatable = {
      "Czy na pewno chcesz wyłączyć warianty? Wszystkie zostaną usunięte": "To spowoduje usunięcie wszystkich kombinacji. Czy na pewno chcesz kontynuować?",
      "Sukces aktualizacji formularza": "Ustawienia zaktualizowane.",
      "Błąd aktualizacji formularza": "Nie można zaktualizować ustawień.",
      "Usuń": "Usuń",
      "Za duży plik": "Plik jest zbyt duży. Maksymalny dozwolony rozmiar to: [1]. Plik, który próbujesz przesłać, ma [2]." | replace({ '[1]': '{{maxFilesize}}', '[2]': '{{filesize}}' }),
      "Upuść obrazy tutaj": "Upuść obrazy tutaj",
      "lub wybierz pliki": "lub wybierz pliki",
      "zalecenia dotyczące plików": "Zalecany rozmiar 800 x 800px dla domyślnego motywu.",
      "zalecenia dotyczące plików2": "Format JPG, GIF lub PNG.",
      "Okładka": "Okładka",
      "Czy na pewno chcesz to usunąć?": "Czy na pewno chcesz to usunąć?",
      "Spowoduje to usunięcie określonej ceny. Czy na pewno chcesz kontynuować?": "Spowoduje to usunięcie określonej ceny. Czy na pewno chcesz kontynuować?",
      "Ilości": "Ilości",
      "Kombinacje": "Kombinacje",
      "Produkt wirtualny": "Produkt wirtualny",
      "cena brutto": "cena brutto",
      "cena netto": "cena netto",
      "Nie można utworzyć produktu zbiorczego z wariantami. Czy na pewno chcesz wyłączyć warianty? Wszystkie zostaną usunięte.": "Zestaw produktów nie może mieć kombinacji."],
      "Nie można utworzyć produktu wirtualnego z wariantami. Czy na pewno chcesz wyłączyć warianty? Wszystkie zostaną usunięte.": "Produkt wirtualny nie może mieć kombinacji."],
   }|merge(js_translatable) %}
{% else %}
   {% set js_translatable = {
      "Are you sure to disable variations ? they will all be deleted": "This will delete all the combinations. Do you wish to proceed?",
      "Form update success": "Settings updated.",
      "Form update errors": "Unable to update settings.",
      "Delete": "Delete",
      "ToLargeFile": "The file is too large. Maximum size allowed is: [1]. The file you are trying to upload is [2]."|replace({ '[1]': '{{maxFilesize}}', '[2]': '{{filesize}}' }),
      "Drop images here": "Drop images here",
      "or select files": "or select files",
      "files recommandations": "Recommended size 800 x 800px for default theme.",
      "files recommandations2": "JPG, GIF or PNG format.",
      "Cover": "Cover",
      "Are you sure to delete this?": "Are you sure to delete this?",
      "This will delete the specific price. Do you wish to proceed?": "This will delete the specific price. Do you wish to proceed?",
      "Quantities": "Quantities",
      "Combinations": "Combinations",
      "Virtual product": "Virtual product",
      "tax incl.": "tax incl.",
      "tax excl.": "tax excl.",
      "You can't create pack product with variations. Are you sure to disable variations ? they will all be deleted.": "A pack of products can't have combinations."],
      "You can't create virtual product with variations. Are you sure to disable variations ? they will all be deleted.": "A virtual product can't have combinations."],
   }|merge(js_translatable) %}
{% endif %}
